# ===================================================================
# General / OS
# File-file yang dibuat secara otomatis oleh sistem operasi.
# ===================================================================
.DS_Store
Thumbs.db
*.swo
*.swp
.env
# ===================================================================
# IDE / Editor specific
# Pengaturan spesifik untuk editor kode seperti VS Code.
# ===================================================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ===================================================================
# Backend (Node.js)
# ===================================================================

# Folder dependensi
backend/node_modules/

# File environment variables - SANGAT PENTING untuk keamanan
# Jangan pernah commit string koneksi database, secret JWT, dll.
backend/.env

# Folder upload - Penting untuk tidak menyimpan data unggahan pengguna di Git
uploads/

# File log
*.log
npm-debug.log*

# ===================================================================
# Frontend (Create React App)
# ===================================================================

# Folder dependensi
node_modules/

# Folder hasil build
build/

# File environment variables lokal
.env.local
.env.development.local
.env.test.local
.env.production.local

# Laporan testing
coverage/