
.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--card-background-color); /* Gunakan variabel */
  border-top: 1px solid var(--border-color); /* Gunakan variabel */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;
  box-shadow: 0 -2px 5px var(--shadow-color); /* Gunakan variabel */
  margin-top: 20px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--subtle-text-color); /* Gunakan variabel */
  font-size: 0.75rem;
  flex-grow: 1;
  height: 100%;
}

.nav-item.active {
  color: var(--primary-blue); /* Gunakan variabel */
}

.nav-item span {
  margin-top: 4px;
}

.new-visit-icon {
    color: var(--primary-blue); /* Gunakan variabel */
    margin-bottom: 4px;
}

.nav-item.active .new-visit-icon {
    color: var(--primary-blue-hover); /* Gunakan variabel */
}
