
.top-nav {
  background-color: var(--card-background-color); /* Gunakan variabel */ 
  padding: 1rem;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px var(--shadow-color); /* Gunakan variabel */
  
}

.top-nav h1 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--text-color);
}
