:root {
  --primary-blue: #0D6EFD;
  --accent-white: #FFFFFF;
  --background-gray: #F8F9FA;
  --text-color: #212529;
  --success-green: #198754;
  --gray-light: #6c757d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-gray);
  color: var(--text-color);
  overflow: auto;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}